<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Vishal Deshmukh</h1>
            <p>Food is symbolic of love when words are inadequate.</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink=""><b>Home</b></a>
            <a routerLink="menu"><b>Menu</b></a>
            <a routerLink="about"><b>About</b></a>
            <a routerLink="contact"><b>Contact</b></a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="@vishal_deshmukh29" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCwFEmo_AsiQ0KiqD9f4IVVg/about" target="Vishal"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>