<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>


        <ol>
        <li><b>Order from Trusted Eateries</b></li>
        Now is not the time to experiment. Opt. for your favourite, trusted restaurants to calm your safety concerns. Do not order from a place that had below standard food or resulted in you being sick before. Big restaurants would also have a set of guidelines up on their website, showcasing the measures they have taken to ensure cleanliness during the pandemic.
        <br>
        <br>
        <li><b>Opt for No-Contact Delivery</b></li>
        Remember to maintain social distancing and avoid meeting the food courier in person. Several restaurants and food delivery chains have launched systems to limit contact between food delivery persons and customers and have listed the steps on their websites and apps.
        You can ask the delivery person to drop off food at your door and can also send them a photo of where the food should be left. It is also advisable to hang a carry bag outside the main door of your house so that the delivery person can leave the food in it.
        Choose any of the digital payment method for contactless deliveries, and if you want to tip the delivery worker, it can be worked out over the phone.
        <br>
        <br>
        <li><b>Throw Out the Packaging</b></li>
        While there is no evidence that coronavirus can be transmitted through the food itself, the virus is known to live on different surfaces for up to nine days. So, it is best to immediately transfer the food from the containers used by the restaurant into your own plate or container. 
        The cardboard or plastic packaging used by the restaurant should be disposed with the rest of your dry waste in a bag so that the sanitation workers can collect it without physical contact.
        <br>
        <br>
        <li><b>Wash Your Hands</b></li>
        You should always wash your hands before you eat, but it has become all the more important now. Wash your hands for at least 20 seconds and avoid touching your face after handling the restaurant packaging and before sitting down to eat.
        Heat the Food for 2 Minutes According to the Centre for Food Safety at the University of Georgia, the virus is very sensitive to cooking; and the heat used to cook the food would be enough to kill the virus. But since the food could have been exposed to the outside while traveling, it's a good idea to play safe and heat the food again in a pan or in a microwave so that you can enjoy it without worrying.
        </ol>
</div>